<!--Using ng-option and for loop-->
<!-- <ng-select [(ngModel)]="selectedCar">
  <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option> -->
<!-- </ng-select> -->

<!--Using items input-->
<ng-select [items]="cars" 
          [multiple]="true"
          bindLabel="name" 
          bindValue="id" 
          [(ngModel)]="selectedCar"
          (open)="onOpen()"
          (close)="onClose()"
          (focus)="onFocus($event)"
          (search)="onSearch($event)"
          (blur)="onBlur($event)"
          (clear)="onClear()"
          (add)="onAdd($event)"
          (scrollToEnd)="onScrollToEnd($event)"
          (remove)="onRemove($event)"
          (change)="onChange($event)">
</ng-select>